<h1><%= @user.name %></h1>

<ul>
  <li>Height: <%= @user.height %></li>
  <li>Mood: <%= @user.mood %></li>
  <li>Happiness: <%= @user.mood %></li>
  <li>Nausea: <%= @user.nausea %></li>
  <li>Tickets: <%= @user.tickets %></li>
</ul>

<%= link_to "See attractions", attractions_path %>

<% if logged_in? %>
  <%= link_to "Sign Out", signout_path, method: 'delete' %>
<% end %>
